## Exercise 1

Q.1. How to import pandas and check the version?

In [5]:
import pandas as pd
import numpy as np
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.4
pytest: 3.8.0
pip: 10.0.1
setuptools: 40.2.0
Cython: 0.28.5
numpy: 1.15.1
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.5.0
sphinx: 1.7.9
patsy: 0.5.0
dateutil: 2.7.3
pytz: 2018.5
blosc: None
bottleneck: 1.2.1
tables: 3.4.4
numexpr: 2.6.8
feather: None
matplotlib: 2.2.3
openpyxl: 2.5.6
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.1.0
lxml: 4.2.5
bs4: 4.6.3
html5lib: 1.0.1
sqlalchemy: 1.2.11
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

Q.2. Create a pandas series from each of the items below: a list, numpy and a dictionary

In [6]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1=pd.Series(mylist)
ser2=pd.Series(myarr)
ser3=pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

Q.3. Convert the series ser into a dataframe with its index as another column on the dataframe.

In [7]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df=ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

Q.4. Combine ser1 and ser2 to form a dataframe.

In [9]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df=pd.concat([ser1,ser2],axis=1)
df=pd.DataFrame({'col1':ser1,'col2':ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

Q.5. Give a name to the series ser calling it ‘alphabets’.

In [10]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name='alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

Q.6. From ser1 remove items present in ser2.

In [11]:
ser1[~ser1.isin(ser2)]

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

7. Get all items of ser1 and ser2 not common to both.

In [12]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u=pd.Series(np.union1d(ser1,ser2))
ser_i=pd.Series(np.intersect1d(ser1,ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

Q.8. Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [13]:
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser,q=[0,25,50,75,100])

array([ 1.89134983,  5.36495259,  8.36095328, 12.01542716, 21.03933036])

Q.9 Calculte the frequency counts of each unique value ser.

In [14]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

f    6
g    5
e    5
c    4
d    4
b    3
h    2
a    1
dtype: int64

Q.10. From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [16]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Top2Freq:",ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])]='Other'
ser

Top2Freq: 2    4
1    4
3    3
4    1
dtype: int64

0     Other
1         1
2     Other
3         2
4         2
5         2
6         1
7     Other
8     Other
9         2
10        1
11        1
dtype: object