## Exercise 2

1.	Reshape the series ser into a dataframe with 7 rows and 5 columns

In [36]:
import numpy as np
import pandas as pd

In [37]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser.head()

0    9
1    4
2    2
3    3
4    5
dtype: int32

In [38]:
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  9  4  2  3  5
1  9  7  3  4  5
2  2  7  9  3  5
3  7  3  8  6  6
4  3  5  9  5  2
5  6  4  6  4  8
6  5  6  3  7  9

2.	Find the positions of numbers that are multiples of 3 from ser.

In [39]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser%3==0)

0    7
1    9
2    7
3    4
4    8
5    6
6    4
dtype: int32

array([[1],
       [5]], dtype=int64)

3.	From ser, extract the items at positions in list pos.

In [40]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

4.	Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [41]:
#Vertical
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [42]:
#Horizontal
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df=pd.concat([ser1,ser2],axis=1) # axis=1 for rows and axis=0 for columns
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

5.	Get the positions of items of ser2 in ser1 as a list.

In [43]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0]for i in ser2]

[5, 4, 0, 8]

In [44]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i)for i in ser2]

[5, 4, 0, 8]

6.	Compute the mean squared error of truth and pred series.

In [45]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.2567402012342065

7.	Change the first character of each word to upper case in each word of ser.

In [46]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
# Solution 1
ser.map(lambda x:x.title())

0      How
1       To
2    Write
3    Code?
dtype: object

In [47]:
# Solution 2
ser.map(lambda x:x[0].upper()+x[1:])

0      How
1       To
2    Write
3    Code?
dtype: object

In [48]:
# Solution 3
pd.Series([i.title() for i in ser])

0      How
1       To
2    Write
3    Code?
dtype: object

8.	Calculate the number of characters in each word in the following series

In [49]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:len(x))

0    3
1    2
2    5
3    5
dtype: int64

9.	Compute difference of differences between consequtive numbers of the following series?

In [50]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

10.	Convert the following series of date-strings to a timeseries?

In [51]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
# Solution 1
from dateutil.parser import parse
ser.map(lambda x:parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [52]:
# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

11.	Get the day of month, week number, day of year and day of week from ser.

In [53]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser_ts=ser.map(lambda x:parse(x))

# day of month 
print("Date:",ser_ts.dt.day.tolist())

# week number
print("Week Number:",ser_ts.dt.weekofyear.tolist())

# day of the year
print("Day of the year:",ser_ts.dt.dayofyear.tolist())

# day of the week
print("Day of the week:",ser_ts.dt.dayofweek.tolist())

Date: [1, 2, 3, 4, 5, 6]
Week Number: [53, 5, 9, 14, 19, 23]
Day of the year: [1, 33, 63, 94, 125, 157]
Day of the week: [4, 2, 5, 3, 0, 5]

12.	Change ser to dates that start with 4th of the respective months.

In [61]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
# Solution 1
from dateutil.parser import parse
# parse the date
ser_ts=ser.map(lambda x:parse(x))
print(ser_ts)

# Construct date string with date as 4
ser_datestr=ser_ts.dt.year.astype('str')+'-'+ser_ts.dt.month.astype('str')+'-'+'04'
print(ser_datestr)

# Format it
[parse(i).strftime('%Y-%m-%d')for i in ser_datestr]

0   2010-01-03
1   2011-02-03
2   2012-03-03
dtype: datetime64[ns]
0    2010-1-04
1    2011-2-04
2    2012-3-04
dtype: object

['2010-01-04', '2011-02-04', '2012-03-04']

In [63]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
# Solution 2
ser.map(lambda x:parse('04'+x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

13.	From ser, extract words that contain atleast 2 vowels.

In [66]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask=ser.map(lambda x:sum([Counter(x.lower()).get(i,0)for i in list('aeiou')])>=2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

14.	Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [67]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask=emails.map(lambda x:bool(re.match(pattern,x)))
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [69]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# Solution 2
import re
emails.str.findall(pattern,flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [70]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# Solution 3
[x[0]for x in [re.findall(pattern,email)for email in emails]if len(x)>0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

15.	 Compute the mean of weights of each fruit.

In [72]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'carrot', 'apple', 'carrot', 'banana', 'carrot', 'apple', 'carrot', 'apple', 'apple']

apple     6.0
banana    5.0
carrot    5.0
dtype: float64